body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredericka the Great', cursive!important;
}
p {
    font-family: 'Roboto', sans-serif!important;
    font-size: 1.25rem;
}
.navbar-nav {
    list-style-type: none;
    display: inline;
}
.pageHeader { 
    height: 100vh;

}
.headerText {
    text-transform: uppercase;
    text-align: center;
}
.headerText h1 {
    font-size: 4.5rem;
    text-shadow: 1px 4px 1px black;
    color: white;
}
.top-head-text {
  text-shadow: 1px 4px 1px black;
    color: white;
}

a { 
color:  #2d2d37; 
text-decoration: none; 
}
.hold-div {
 
}
.top-div {
  width: 50%;
}
.text-div {
  width: 25%;
  display: block;
  margin: auto;
  margin-bottom: 2rem; 
}

.bg-video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.aboutMe {
  background-size: contain;
  background: linear-gradient(rgb(255,255,255,.90), rgb(255,255,255,.99)), url(../images/estamoi.jpg);
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 0rem;
  position: relative;
}
.aboutRow {
    text-align: center;
    margin: auto;
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center;
    margin-top: -4rem;
}

.picDeMoi {
    background: url(../images/itme.jpg);
    background-size: cover;
    height: 100%;
}
.cestMoi {
  padding: 5rem;
}
.aboutMePara {
  position: relative;
  top: 2rem;
}
.aboutMePara p {
  font-family: 'Roboto', sans-serif!important;
  color: black;
  padding: 1rem 4rem 0rem 4rem;
  text-align: left;
  column-count: 2;
  line-height: 2;
}
.btn-primary {
    margin-top: 3rem;
}
.mySkills {
  background: white;
    height: 100%;
    background-size: cover;
   background-repeat: no-repeat;
   padding-bottom: 4rem;
}
.mySkills-title {
  display: flex;
  justify-content: center;
  background: white;
  padding-top: 2rem;
  flex-direction: column;
  align-items: center;
}
.mySkills-title h2 {
    font-size: 5rem;
    color: black;
    text-transform: uppercase;
    text-shadow: 1px 1px 3px black;
}
.otherWork {
    height: 100%;
    background: linear-gradient(rgb(255,255,255,.90), rgb(255,255,255,.99)), url(../images/estamoi.jpg);
    background-attachment: fixed;
    background-size: cover;
}
.otherWorkRow {
  height: 30rem;
}
.screen1 {
background: url('../images/blog.png');
height: 30rem;
background-size: cover;
background-position: center;
}
.screen2 {
  background: url('../images/github-profile.png');
height: 30rem;
background-size: cover;
background-position: center;
}
.screen3 {
  background: url('../images/articlesfp.png');
height: 30rem;
background-size: cover;
background-position: top;
}
.text {
background: transparent; 
 height: 30rem;
 display: flex;
 justify-content: center;
 align-items: left;
 flex-direction: column;
 padding: 6rem;
}
.other-text {
  padding: 4rem 4rem 0rem 4rem;
  color: black;
  font-size: 1.05rem;
  line-height: 2;
}
h6 {
  text-align: center;
  font-size: 2rem!important;
  text-shadow: 1px 1px 3px black;
}
.little-div {
  height: auto;
  width: 30%;
  margin: auto;
}
.check-btn {
  color: rebeccapurple!important;
  background-image: none;
  background-color: white;
  border-color: rebeccapurple!important;
  width: 30%;
  margin: auto;
  padding: 1rem!important;
  box-shadow: 2px 2px 5px rgb(112, 112, 112);
}
.check-btn:hover {
  color: white!important;
  background-color: rebeccapurple!important;
  border-color: rebeccapurple!important;
  box-shadow: 2px 1px 8px rgb(112, 112, 112);
}
.myProjects {
    height: 100%;
}
.myProjects-title {
  display: flex;
  justify-content: center;
}
.myProjects-title h2 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem;
    color: black;
    text-shadow: 1px 1px 3px black;
}
.project-row {
  height: 21rem;
}
.proj1, .proj2, .proj3, .proj4, .proj5, .proj6, .proj7, .proj8 {
  height: 20rem;
  transition: 0.5s;
}
.proj1:hover, .proj2:hover, .proj3:hover, .proj4:hover, .proj5:hover, .proj6:hover, .proj7:hover, .proj8:hover {
  transform: scale(1.15);
    transition: 0.5s;
    -webkit-transition: 0.5s;
}
.hold-proj {
  margin: 0;
  padding: 0;
  overflow: hidden;
  padding-left: 0px!important;
  padding-right: 0px!important;
  border-left: 6px solid white;
    border-right: 6px solid white;
    border-bottom: 12px solid white;
}
.proj1{
  background: url('../images/projects/le-chat-chat.png');
  background-size: cover;
  background-position: center;
}
.proj2{
  background: url('../images/projects/apple-fall-game.png');
  background-size: cover;
  background-position: center;
}
.proj3{
  background: url('../images/projects/racing-game.png');
  background-size: cover;
  background-position: center;
}
.proj4{
  background: url('../images/projects/viduals.png');
  background-size: cover;
  background-position: center;
}
.proj5{
  background: url('../images/projects/le-chat-chat.png');
  background-size: cover;
  background-position: center;
}
.proj6{
  background: url('../images/projects/apple-fall-game.png');
  background-size: cover;
  background-position: center;
}
.proj7{
  background: url('../images/projects/racing-game.png');
  background-size: cover;
  background-position: center;
}
.proj8{
  background: url('../images/projects/viduals.png');
  background-size: cover;
  background-position: center;
}
.contactMe {
  background-size: contain;
  background: linear-gradient(rgb(255,255,255,.90), rgb(255,255,255,.99)), url(../images/estamoi.jpg);
  height: 100vh;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-position: top;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
}

.contactMe-title h2 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem; 
    color: black;
    text-shadow: 1px 1px 3px black;
}
.contact-text {
  padding: 0rem 4rem;
  line-height: 2;
  font-size: 1.1rem;
}
.hold-contact-text {
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media {
  margin-right: 3rem;
}
.hold-contact-form {

}
#c-0-5 {  /*first-name*/
  border: 1px solid rebeccapurple;
  padding: 1rem;
}
#c-1-5 {  /*last-name*/
  border: 1px solid rebeccapurple;
  padding: 1rem;
}
#c-3-4 {  /*email-entry*/
  border: 1px solid rebeccapurple;
  padding: 1rem;
}
#c-4-3 {  /*phone-entry*/
  border: 1px solid rebeccapurple;
  padding: 1rem;
}
#c-5-2 { /*text-area*/
  border: 1px solid rebeccapurple;
  padding: 1rem;
}

.left-head {
   z-index: 9999; 
   /* background: mediumpurple;    */
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}
footer {
  height: 7rem;
  background: lavender;
}
.footer-row {
  display: flex;
    justify-content: center;
    align-items: center;
    height: 7rem;
}

.skills-bar-container{
    position: relative;
    width: 100%;
    min-width: 300px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    list-style:none;
}   
li{
    position: relative;
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
} 
      .progressbar-title{
        color: #000;
        text-shadow: 1px 1px 3px black;
      }   
        h3{
          display: inline-block;
        }
        .percent{
          position: absolute;
          right: 5px;
        }
      
      
      .bar-container{
        background: rgb(112, 112, 112, .15);
        position: relative;
        width: 100%;
        height: 2.5rem;
        margin-top: 5px;
        display: block;
        border-radius: 5px;
      }
        .progressbar{
          position:absolute;
          width:0%;
          height: 100%;
          border-radius: 5px;
            
          -webkit-animation-duration: 2s;
          animation-duration: 2s;
          -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
          -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
        }
        #progress-html.animate {
          -webkit-animation-name: progress-html;
          animation-name: progress-html;
          -webkit-animation-delay: .7s;
          animation-delay: .7s;
        }
  
        #progress-css.animate {
          -webkit-animation-name: progress-css;
          animation-name: progress-css;
          -webkit-animation-delay: .7s*2;
          animation-delay: .7s*2;
        }
  
        #progress-javascript.animate {
          -webkit-animation-name: progress-javascript;
          animation-name: progress-javascript;
          -webkit-animation-delay:.7s*3;
          animation-delay: .7s*3;
        }
        #progress-ai.animate{
          -webkit-animation-name: progress-ai;
          animation-name: progress-ai;
          -webkit-animation-delay: .7s*4;
          animation-delay: .7s*4;
        }
         #progress-wordpress.animate{
          -webkit-animation-name: progress-wordpress;
          animation-name: progress-wordpress;
          -webkit-animation-delay:.7s*5;
          animation-delay: .7s*5;
          }
        #progress-mysql.animate{
          -webkit-animation-name: progress-mysql;
          animation-name: progress-mysql;
          -webkit-animation-delay: .7s*6;
          animation-delay: .7s*6;
        }
        #progress-php.animate{
          -webkit-animation-name: progress-php;
          animation-name: progress-php;
          -webkit-animation-delay: .7s*7;
          animation-delay: .7s*7;
        }
  
  .progresshtml{background-color:rebeccapurple;}
  .progresscss{background-color:rebeccapurple;}
  .progressjs{background-color:rebeccapurple;}
  .progressai{background-color:rebeccapurple;}
  .progresswp{background-color:rebeccapurple;}
  .progressmysql{background-color:rebeccapurple;}
  .progressphp{background-color:rebeccapurple;}
  
  @-webkit-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
  @-webkit-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
  @-webkit-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
  @-webkit-keyframes progress-wordpress{0%{width: 0%;} 100%{ width: 70%;}}
  @-webkit-keyframes progress-ai{0%{width: 0%;} 100%{ width: 70%;}}
  @-webkit-keyframes progress-mysql{0%{width: 0%;} 100%{ width: 60%;}}
  @-webkit-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}
  
  @-moz-keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
  @-moz-keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
  @-moz-keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
  @-moz-keyframes progress-wordpress{0%{width: 0%;} 100%{ width: 70%;}}
  @-moz-keyframes progress-ai{0%{width: 0%;} 100%{ width: 70%;}}
  @-moz-keyframes progress-mysql{0%{width: 0%;} 100%{ width: 60%;}}
  @-moz-keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}

  @keyframes progress-html{0%{width: 0%;} 100%{ width: 100%;}}
  @keyframes progress-css{0%{width: 0%;} 100%{ width: 90%;}}
  @keyframes progress-javascript{0%{width: 0%;} 100%{ width: 75%;}}
  @keyframes progress-wordpress{0%{width: 0%;} 100%{ width: 70%;}}
  @keyframes progress-ai{0%{width: 0%;} 100%{ width: 70%;}}
  @keyframes progress-mysql{0%{width: 0%;} 100%{ width: 60%;}}
  @keyframes progress-php{0%{width: 0%;} 100%{ width: 55%;}}

 


@media (max-width: 992px) {
    .collapse {
        display: none;
    }
}
@media (min-width: 993px) {
    .collapse {
        display: inline-block;
    }
}


