body {
    margin: 0;
    padding: 0;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Fredericka the Great', cursive!important;
}
p {
    font-family: 'Amaranth', sans-serif!important;
}
.navbar-nav {
    list-style-type: none;
    display: inline;
}
.pageHeader { 
    height: 100vh;

}
.headerText {
    text-transform: uppercase;
    text-align: center;
}
.headerText h1 {
    font-size: 4.5rem;
}

a { 
color:  #2d2d37; 
text-decoration: none; 
}

.arrow {
  text-align: center;
  margin: 8% 0;
}
.bounce {
  -moz-animation: bounce 2s infinite;
  -webkit-animation: bounce 2s infinite;
  animation: bounce 2s infinite;
}

@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
.bg-video {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.aboutMe {
    background: white;
    height: 100vh;
    position: relative;
}
.aboutRow {
    text-align: center;
    margin: auto;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}
.aboutMe-title {
    background: lavender;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn-primary {
    margin-top: 3rem;
}
.mySkills {
    background: url('../images/trees.jpg');
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.mySkills-title h2 {
    font-size: 5rem;
    color: white;
    text-transform: uppercase;
    margin-top: 2rem;
}
.myProjects {
    background: rgb(51,154,240);
    height: 100vh;
}
.myProjects-title h2 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: right;
    margin-top: 2rem; 
    color: white;
}
.contactMe {
    background: deeppink;
    height: 100vh;
}
.contactMe-title h2 {
    font-size: 5rem;
    text-transform: uppercase;
    text-align: center;
    margin-top: 2rem; 
    color: white;
}
.left-head {
   z-index: 9999; 
   background: rgb(214, 214, 223, .75);
   height: 100vh; 
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.right-head {


}

@media (max-width: 992px) {
    .collapse {
        display: none;
    }
}
@media (min-width: 993px) {
    .collapse {
        display: inline-block;
    }
}


